extends layout.pug

block head
	link(rel='stylesheet', href='styles/index.css')
	script(src='scripts/jquery.js')
	script(src='scripts/index.js')
	script(src='scripts/chat.js')

block content
	#dialogueWindow
		#messages
			ul#messageLog
		#suggestions
			ul#currentSuggestions
