@require 'helpers/vars'
@require 'helpers/fixes'


#wrapper #dialogueWindow
	width 400px
	margin 0 auto
	div
		display: block;
		&#messages
			height: 200px;
			padding-bottom 40px
		&#suggestions
			height: 100px;
			ul
				li
					background: grey
					color: textAlt
