@require 'helpers/vars'
@require 'helpers/fixes'

body
	font font

#wrapper #dialogueWindow
	width 400px
	margin 20px auto
	div
		display: block;
		&#messages
			height: 200px;
			padding-bottom 40px
			ul
				display: block;
				li
					list-style: none;
					display: block;
					clear: both;
					p
						borderBox()
						display: inline-block;
						max-width: (100*2/3)%;
						padding (pad - 2px) pad pad pad;
						borderRadius((pad - 2px))
						margin-bottom: pad
						position: relative;
						&:before, &:after // Modified from https://stackoverflow.com/questions/29051539/how-to-create-a-curve-tail-for-speech-bubble-with-css
							content: "";
							position: absolute;
							z-index: -1;
							height: 20px;
							bottom: 0;
					&.you
						p
							background: youBg
							color: youText
							float: right;
							margin-right: 10px;
							border-bottom-right-radius: 0;
							&:before
								right: -15px;
								border-right: 15px solid youBg;
								border-bottom-right-radius: 25px 20px;
							&:after
								right: -20px;
								width: 20px;
								background: chatBg;
								border-bottom-left-radius: 50px 30px;
					&.me
						p
							background: meBg
							color: meText
							float: left;
							margin-left: 10px;
							border-bottom-left-radius: 0;
							&:before
								left: -15px;
								border-left: 15px solid meBg;
								border-bottom-left-radius: 25px 20px;
							&:after
								left: -20px;
								width: 20px;
								background: chatBg;
								border-bottom-right-radius: 50px 30px;
		&#suggestions
			height: 100px;
			ul
				li
					borderBox()
					background: sugBg
					color: sugText
					text-align: center;
					padding: pad
					display: block;
					border-right: 1px sugText solid;
					&:last-of-type
						border-right: none;



.new{
  -webkit-animation: fadeIn ease 0.6s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }
}
